#logo-container {
    max-width: 50px; /* Logo maksimum genişlik */
    margin: 10px; /* Logo kenar boşluğu */
}

#logo {
    width: 1%; /* Logo genişliği %100 olacak şekilde ayarlandı */
    height: auto; /* Oranları korumak için */
}

body {
    font-family: Arial, sans-serif; /* Varsayılan font belirlendi */
    background-color: #f4f4f4; /* Arka plan rengi belirlendi */
}

nav {
    background-color: #333; /* Navigasyon arka plan rengi */
}

ul.horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

ul.horizontal-list li {
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    color: white;
}

ul.horizontal-list li:hover {
    background-color: #555;
}

h1, h2, h3 {
    color: #333; /* Başlık renkleri */
}

.content {
    max-width: 800px; /* İçerik maksimum genişlik */
    margin: 0 auto; /* İçerik ortalanır */
}

.product-card {
    border: 1px solid #ddd; /* Ürün kartı kenarlık rengi */
    padding: 10px; /* Ürün kartı iç boşluğu */
    margin: 10px; /* Ürün kartı dış boşluğu */
    text-align: center;
}

footer {
    background-color: #333; /* Alt bilgi arka plan rengi */
    color: white; /* Alt bilgi yazı rengi */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* src/App.css */
/* Add your existing styles here */
